<a> <img src='data_type.png'></a>

## Data types
### Numeric Types:
###### int (e.g., 42)
###### complex (e.g., 1j)
### Textual Type:
###### str (e.g., “Hello, World!”)
### Collection Types:
###### list (e.g., [1, 2, 3])
###### tuple (e.g., (1, 2, 3))
###### dict (e.g., {“name”: “John”, “age”: 30})
###### set (e.g., {1, 2, 3})
### Boolean Type:
###### bool (e.g., True or False)

### Numeric

In [11]:
1 + 1 #add

2

In [12]:
1 * 3 #multipuly

3

In [13]:
1 / 2 # divide

0.5

In [14]:
2 ** 4 # power:2^4

16

In [15]:
4 % 2 # modular : gives remainder

0

In [16]:
5 % 2 # modular : gives remainder

1

### Operator Precedence and Associativity in Python
##### -------------------------------------------------------
##### Level | Operator                      | Associativity
##### -------------------------------------------------------
##### 1     | **, ~, +- (unary)             | Right-to-left
##### 2     | *, /, //, %                   | Left-to-right
##### 3     | +, -                          | Left-to-right
##### 4     | <<, >>                        | Left-to-right
##### 5     | &                             | Left-to-right
##### 6     | ^                             | Left-to-right
##### 7     |  |                              | Left-to-right
##### 8     | =, %=, +=, -=, *=, /=, //=,**=, &=, ^=, |=, >>=, <<=      | Non-associative
##### 9     | is, is not                    |Left-to-right
##### 10    | in, not in                    |Left-to-right
##### 11    | not, and                      | Left-to-right
##### 12    | or                            | Left-to-right

In [17]:
2 + 3 * 5 + 5 #2+15+5

22

In [18]:
(2 + 3) * (5 + 5) #5*10

50

### Variable Assignment

In [19]:
# Can not start with number or special characters
name_of_var = 2

In [20]:
x = 2
y = 3

In [21]:
z = x + y

In [22]:
z

5

### Strings

In [23]:
'single quotes'

'single quotes'

In [24]:
"double quotes"

'double quotes'

In [25]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [26]:
x = 'hello'

In [27]:
x

'hello'

In [28]:
print(x)

hello

In [29]:
num = 12
name = 'Sam'

In [30]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [31]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

In [32]:
text = "Hello world!"

# Accessing first character
text[0]  # 'H'

'H'

In [33]:
# Accessing last character
text[-1]  # '!'

'!'

In [34]:
# Accessing a character in the middle
text[3]  # 'l'

'l'

In [35]:
# Slicing strings (explained later)
text[2:7]  # 'llo w' (extracts characters from index 2 to 6 (exclusive))

'llo w'

In [36]:
# Get everything from the beginning to index 5 (excluding 5)
text[:5]  # 'Hello'

'Hello'

In [37]:
# Get everything from index 7 to the end
text[7:]  # 'world!'

'orld!'

In [38]:
#  Get characters at even positions (0, 2, 4, ...)
text[::2]  # 'Hlo ol!'

'Hlowrd'

### Lists

In [39]:
[1,2,3]

[1, 2, 3]

In [40]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [41]:
my_list = ['a','b','c']

In [42]:
my_list.append('d')

In [43]:
my_list

['a', 'b', 'c', 'd']

In [44]:
my_list[0]

'a'

In [45]:
my_list[1]

'b'

In [46]:
my_list[1:]

['b', 'c', 'd']

In [47]:
my_list[:1]

['a']

In [48]:
my_list[0] = 'NEW'

In [49]:
my_list

['NEW', 'b', 'c', 'd']

In [50]:
nest = [1,2,3,[4,5,['target']]]

In [51]:
nest[3]

[4, 5, ['target']]

In [52]:
nest[3][2]

['target']

In [53]:
nest[3][2][0]

'target'

### Dictionaries

In [54]:
d = {'key1':'item1','key2':'item2'}

In [55]:
d

{'key1': 'item1', 'key2': 'item2'}

In [56]:
d['key1']

'item1'

In [57]:
d={'k1':[1,2,3]}

In [58]:
l=d['k1']

In [59]:
l[1]

2

In [60]:
d['k1'][1]

2

In [61]:
d={'k1':{'innerkey':[1,2,3]}}

In [62]:
d['k1']

{'innerkey': [1, 2, 3]}

In [63]:
d['k1']['innerkey']

[1, 2, 3]

In [64]:
d['k1']['innerkey'][1]

2

### Booleans

In [65]:
True

True

In [66]:
False

False

### Tuples

In [67]:
t = (1,2,3)

In [68]:
t[0]

1

In [69]:
t[0] = 'NEW'# non mutable

TypeError: 'tuple' object does not support item assignment

### Sets

In [70]:
s={1,2,3}

In [71]:
s[0] # unordered

TypeError: 'set' object is not subscriptable

In [72]:
for i in s:
    print(i)

1
2
3

In [73]:
s.pop()

1

In [74]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## Comparison Operators

In [75]:
1 > 2

False

In [76]:
1 < 2

True

In [77]:
1 >= 1

True

In [78]:
1 <= 4

True

In [79]:
1 == 1

True

In [80]:
'hi' == 'bye'

False

## Logic Operators

In [81]:
(1 > 2) and (2 < 3)

False

In [82]:
(1 > 2) or (2 < 3)

True

In [83]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [84]:
if 1 < 2:
    print('Yep!')

Yep!

In [85]:
if 1 < 2:
    print('yep!')

yep!

In [86]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [87]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [88]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [89]:
L = [1,2,3,4,5]

In [90]:
for i in L:
    print(i)

1
2
3
4
5

In [91]:
for i in L:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

## range()

In [92]:
range(5)

range(0, 5)

In [93]:
for i in range(i):
    print(i)

0
1
2
3
4

In [94]:
list(range(5))

[0, 1, 2, 3, 4]

In [95]:
for i in L:
    print(2*i)

2
4
6
8
10

In [96]:
for i in range(4,0,-1):
    print('i is: {}'.format(i))

i is: 4
i is: 3
i is: 2
i is: 1

In [97]:
for i in range(1,5,1):
    print('i is: {}'.format(i))

i is: 1
i is: 2
i is: 3
i is: 4

In [98]:
for i in range(1,5):
    print('i is: {}'.format(i))

i is: 1
i is: 2
i is: 3
i is: 4

# while Loops

In [99]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## list comprehension

In [100]:
list(range(1,5))

[1, 2, 3, 4]

In [101]:
x = [1,2,3,4]

In [102]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [103]:
[item**2 for item in x] # list comprehension

[1, 4, 9, 16]

## functions

In [104]:
def my_fun(param1):
    print(param1)

In [105]:
my_fun("hello")

hello

In [106]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [107]:
my_func

In [108]:
my_func()#default parameter

default

In [109]:
my_func('new param')

new param

In [110]:
my_func(param1='new param')

new param

In [111]:
def square(x):
    return x**2

In [112]:
"""shift+tab"""# to know about fun ie documentation string,etc

'shift+tab'

In [113]:
out = square(2)

In [114]:
print(out)

4

## lambda expressions

In [115]:
def times2(var):
    return var*2

In [116]:
times2(2)

4

In [117]:
y=lambda var: var*2

In [118]:
print(y(2))

4

## map and filter

In [119]:
seq = [1,2,3,4,5]

In [120]:
map(times2,seq) # map() function applies a given function to each item of an iterable (like a list or a tuple) and returns a list of the results.

In [121]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [122]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [123]:
filter(lambda item: item%2 == 0,seq)#It generates an output list of values for which the given function returns True.
#It checks all the values in an iterable and filters out the ones that return False.

In [124]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [125]:
st = 'hello my name is Sam'

In [126]:
st.lower()

'hello my name is sam'

In [127]:
st.upper()

'HELLO MY NAME IS SAM'

In [128]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [129]:
tweet = 'Go Sports! #Sports'

In [130]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [131]:
tweet.split('#')[1]

'Sports'

In [132]:
d = {'key1':'item1','key2':'item2'}

In [133]:
d.keys()

dict_keys(['key1', 'key2'])

In [134]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [135]:
lst = [1,2,3]

In [136]:
lst.pop()

3

In [137]:
lst

[1, 2]

In [138]:
'x' in [1,2,3]

False

In [139]:
'x' in ['x','y','z']

True

# Good!